<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div formGroupName="movieGroup">
      <label for="identifier">Identifiant :</label>
      <input type="text" id="identifier" formControlName="identifier">
      <label for="title">Titre :</label>
      <input type="text" id="title" formControlName="title">
      <div *ngIf="searchForm.get('movieGroup')?.errors?.['isRequired'] && searchForm.get('movieGroup')?.touched">
        L’un des deux champs ‘Identifiant’ ou ‘Titre’ doit être renseigné
      </div>
    </div>
  
    <label for="type">Type :</label>
    <select id="type" formControlName="type">
      <option value="film">Film</option>
      <option value="série">Série</option>
      <option value="épisode">Épisode</option>
    </select>
  
    <label for="releaseYear">Année de sortie :</label>
    <input type="number" id="releaseYear" formControlName="releaseYear">
    <div *ngIf="searchForm.get('releaseYear')?.errors?.['required'] && searchForm.get('releaseYear')?.touched">
      L’année de sortie est requise
    </div>
    <div *ngIf="searchForm.get('releaseYear')?.errors?.['min'] && searchForm.get('releaseYear')?.touched">
      L’année doit être comprise entre {{searchForm.get('releaseYear')?.errors?.['min'].minYear}} et {{searchForm.get('releaseYear')?.errors?.['min'].maxYear}}
    </div>
  
    <label for="fiche">Fiche :</label>
    <select id="fiche" formControlName="fiche" [disabled]="!searchForm.get('movieGroup.identifier')?.value">
      <option value="complète">Complète</option>
      <option value="courte">Courte</option>
    </select>
  
    <button type="submit">Rechercher</button>
  </form>
  